body{
    margin: 0;
    padding: 0;
    background-color: #E5EEF8;
    font-family: 'inter';
}

/*Personalização da barra*/
::-webkit-scrollbar{
    width: 15px;
    background-color: #81d1e5;
}

::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: #3598B2;
}

/*Navbar*/
    .barra{
        background-color: #78B5C8;
    }

    .barra img{
        display: block; 
        margin-top: -5px;
        margin-left: 35px;
    }

    .group{
        display: block; 
        margin-left: 45px;
        font-size: 27px;
    }

    .conta{
        background-color: #5EA5D5;
        color: #ffffff;
    }

    .conta:hover{
        background-color: #5ea5d591;
        color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
    }

/*Footer*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.espaço{
    height: 40vh;
}

footer{
    width: 100%;
    color: #f5f5f5;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.redes, h3{
    color: #2AA495;
    font-family: 'Coustard', sans-serif;
}

.redes{
    margin-top: -20px;
}

.footer-link{
    text-decoration: none;  
}

#footer_content{
    background-color: #CEEBF4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 3rem 3.5rem;
    opacity: 0.8;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #ffffff;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.5rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.3;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#site{
    background-color: #4dc4ff;
}

#youtube{
    background-color: #ff0000 ;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: #3598B2;
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: #ffffff;
}

.footer-list p{
    color: #3598B2;
    transition: all 0.4s;
}

.footer-list p:hover{
    color: #ffffff;
}

@media screen and (max-width: 768px){
    #footer_content{
        grid-auto-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px){
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
    #footer_contacts{
        padding-left: 30px;
    }
    #footer_social_media{
        padding-left: 15px;
    }
}

/*Página inicial*/
/*.page1{
    background-color: #E5EEF8;
}
.page2{
    background-color: #FFFFFF;
}
.page3{
    background-color: #CEEBF4;
}
.page4{
    background-color: #FFFFFF;
}
.page5{
    background-color: #FFFFFF;
}
.page6{
    background-color: #E5EEF8;
}

.interface{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: scroll;
}

.teste{
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
}*/

.home{
    background-color: #E5EEF8;
    height: 100vh;
}

.home h1{
    font-family: 'Lexend', sans-serif;
    margin-top: 120px;
    margin-left: 220px;
    color: #417086;
}

.home img{
    margin-top: 220px;
    position: absolute;
    top: 0;
    right: 0;
}

.botao{
    margin-top: 70px;
    margin-left: 300px;
    background-color: #5EB9C5;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    position: static;
    text-align: justify;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 10px 5px 5px #315754;
    transition: all 0.4s ease;
}

.botao a{
    color: #ffff;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Lexend', sans-serif;
}

.botao a:hover{
    color: #5EB9C5;
    margin-left: 20px;
    padding-right: 15px;
}

.botao:hover{
    background-color: #f5f5f5;
}

.home {
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
    margin-top: -50px;
}
