body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .profile {
    background-color: #ffffff;
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
  }
  
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
  }
  
  h1 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    font-size: 14px;
    margin: 5px 0;
  }
  
  a {
    text-decoration: none;
    color: #0077b5; /* Cor azul do LinkedIn, por exemplo */
  }
  